@media (min-width: 768px) {

    #navbar-language, .navbar-brand {
        width: 265px;
    }
}

#about-section {
    text-align: center;
}

#cover-image {
    padding: 80px 20px;
    background-image: url("../assets/cover-image.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

#about-name {
    font-size: calc(25px + 8vw);
}

#about-profession {
    font-size: calc(18px + 3vw);
}

#about-text {
    max-width: 800px;
    font-size: calc(12px + 0.5vw);
}

#about-name, #about-text, #about-profession {
    color: white;
}

#about-curriculum {
    margin: 100px 0px;
}

#projects-section {
    text-align: center;
    padding: 100px 20px;
}

.project-holder {
    margin-bottom: 100px;
}

.project-image {
    width: 80%;
    height: 200px;
    line-height: 200px;
    border: 2px solid black;
    background-color: lightgrey;
    margin: 0 auto;
}

.project-image > .btn {
    background-color: white;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.project-image > .btn:hover {
    background-color: #444;
}

.project-image:hover > .btn {
    opacity: 1;
}

.project-name {
    font-size: 22px;
    font-weight: bold;
}